
.navegacao {
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-icone {
    margin-left: 1rem;
    color: var(--azul);
}

.logo {
    font-weight: bold;
    font-family: 'Encode Sans', sans-serif;
    color: var(--preto);
    height: 100%;
    border-bottom: 1px solid var(--preto);
}

.logo__complemento {
    font-size: 1rem;
    font-family: 'Encode Sans', sans-serif;
}

.logo, .logo__complemento {
    margin-left: 1rem;
}

.btn__toggle {
    height: 3rem;
    width: 3.5rem;
    display: none;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.btn__toggle:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.navegacao__lista {
    margin-right: 4rem;
    display: flex;
}

.links__contato {
    background: var(--azul);
    border-radius: 0.3rem;
    padding: 1rem;
    color: var(--branco);
}

.lista__links {
    margin-right: 4rem;
    text-decoration: none;
    color: var(--preto);
}

.lista__links:hover {
    text-decoration: none;
    color: var(--azul);
}