@import url(../secoes/navegacao/_navegacao.css);
@import url(../secoes/conteudo/_destaque.css);
@import url(../secoes/conteudo/_categorias.css);
@import url(../secoes/conteudo/_sobre.css);
@import url(../secoes/conteudo/_contato.css);
@import url(../secoes/conteudo/_redes-sociais.css);
@import url(../secoes/rodape/_rodape.css);

@import url(../base/_for_phone_only.css);

:root {

    /* Cores */
    --preto: #333;
    --branco: #fff;
    --cinza: #999;
    --amarelo: #ffcb47;
    --azul: #1597bb;
    --azul-escuro: #233e8b;
}

body {
    overflow-x: hidden;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
}