@import url(../secoes/_navegacao.css);
@import url(../secoes/_destaque.css);
@import url(../secoes/_categorias.css);
@import url(../secoes/_sobre.css);
@import url(../secoes/_contato.css);

:root {

    /* Cores */
    --preto: #333;
    --branco: #fff;
    --cinza: #999;
    --amarelo: #ffcb47;
    --azul: #1597bb;
}

body {
    overflow-x: hidden;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
}